footer {
  background-color: #2d2e32;
  padding: 2rem;
  width: 100%;
  /* position: fixed;
  bottom: 0; */
  color: #fff;
}
.container {
  margin: auto;
  max-width: 100%;
  padding: 0 4rem;
  display: flex;
  justify-content: center;
}
.footerc {
  font-weight: bold;
  align-items: center;
  font-size: 1rem;
}
a {
  font-size: 30px;
  color: #fff;
  margin: 10px;
}
